@use "../var.scss";

.taskDetail {
    box-sizing: border-box;
    width: 1181px;
    height: 548px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
}

.taskDetail__title {
    font-family: 'Roboto';
    font-size: 24px;
}

.taskDetail__description {
    font-family: 'Roboto';
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
}

.input {
    display: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Roboto';
    font-size: 18px;
    resize: none;
    box-sizing: border-box;

}