@use "../Variables/button.scss";

@mixin button {
    width: 102px;
    height: 29px;
    border: none;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    };
    &:disabled {
        cursor: default
    }
}


.button__addForm {
    @include button();
    position: relative;
    background-color: button.$button__addForm-background-color
}


.button__addForm::before {
    content: "+";
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 6px;
}

.button__addForm_active {
    background-color: button.$button__addForm_active-background-color;
}


.button__sumbit {
    @include button();
    display: none;
    position: absolute;
    top: 50px;
    background-color: button.$button__sumbit-background-color;
    z-index: 3;
}

.button__dropdown {
    width: 258px;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: button.$button__dropdown-background-color;
    position: relative;
    cursor: pointer;
} 

.button__dropdown::before {
    content: ">";
    position: absolute;
    top: 3px;
    right: 20px;
    transform: rotate(-90deg);
    font-size: 25px;
}

.button__dropdown_active {

}
.button__dropdown_active::before {
    transform: rotate(90deg);
}
