@use "../var.scss";


.button {
    width: 102px;
    height: 29px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.button::before {
    content: "+";
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 6px;
}

.button_active {
    background-color: #FFFFFF;
}




.button_sumbit {
    display: none;
    position: absolute;
    top: 50px;
    width: 102px;
    height: 29px;
    border: none;
    border-radius: 5px;
    background-color: var.$button-background-color;
    cursor: pointer;
    z-index: 3;
}



.button__dropdown {
    width: 258px;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: var.$task-item-background-color;
    position: relative;
    cursor: pointer;
} 

.button__dropdown::before {
    content: ">";
    position: absolute;
    top: 5px;
    right: 20px;
    transform: rotate(-90deg);
    font-size: 25px;
}

.button__dropdown_active {
    background-color: aqua;
}
.button__dropdown_active::before {
    transform: rotate(90deg);
}
