@use "../Variables/tasks.scss";

.task {
    width: 282px;
    max-height: 538px;
    background-color: tasks.$task-list-background-color;
    border: none;
    border-radius: 10px;
    padding: 12px 0px 12px 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

   }


.task__body {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-right: 12px;
    gap: 15px;
    overflow-y: auto;
    position: relative;
    background-clip: content-box;

   }

.task__body::-webkit-scrollbar {
    width: 12px;
    margin-left: 5px;

    background-color: #ffffff;
}


.task__body::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    border: none;
    border-radius: 5px;

}

.task__titel {
    font-size: 18px;
}

.task__titel::first-letter {
    text-transform: uppercase;
}

.task__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;


}

.task__item {
    width: 100%;

}

.task__link {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: tasks.$task-item-background-color;
    cursor: pointer;
    overflow: hidden;
    
}


.task__itemText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 241px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 0px) and (max-width: 413px) {

    .task__body {
        max-height: 249px;
    }

}