@use "../Variables/tasks.scss";

.task {
    box-sizing: border-box;
    width: 282px;
    background-color: tasks.$task-list-background-color;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 12px;
    gap: 15px;
   }

.task__titel {
    font-size: 18px;
}
.task__link {
    text-decoration: none;
    color: black;
}

.task__titel::first-letter {
    text-transform: uppercase;
}

.task__list {
    width: 100%;
    max-height: 538px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
    overflow-y: auto;

}

.task__item {
    width: 100%;
}

.task__link {
    display: block;
    width: 100%;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: tasks.$task-item-background-color;
    cursor: pointer;
}


