@use "../Variables/layout.scss";

.main {
    padding: 20px;
    width: 100%;
    height: 590px;
    background-color: layout.$main-background-color;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 24px;
    position: relative;
}



@media (min-width: 0px) and (max-width: 413px) {

    .main {
        flex-direction: column;
        overflow-y: auto;
    }

}
