@use "../var.scss";

.header {
    width: 100%;
    height: 55px;
    background-color: var.$header-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 384px;
    height: 45px;
    margin-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var.$header-text-color;
    font-family: 'Roboto';
    font-size: 28px;
}

.header__userMenu {
    width: 64px;
    height: 40px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border: solid 0.8px var.$avatar-border-color;
    border-radius: 50%;
}