$text-color-black: #1C2A39;
$text-color-grey: #5C6A79;

$header-background-color: #0067A3;
$main-background-color: #0079BF;
$footer-background-color: #0067A3;
$task-list-background-color: #EBECF0;
$task-item-background-color: #FFFFFF;

$header-text-color: #FFFFFF;
$footer-text-color: #FFFFFF;

$avatar-border-color: #FFFFFF;