@use "../Variables/layout.scss";


.footer {
    width: 100%;
    height: 55px;
    padding-left: 21px;
    padding-right: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: layout.$footer-background-color;
}

.footer__container {
    display: flex;
    gap: 36px;
}

.footer__text {
    color: layout.$footer-text-color;
    font-size: 18px;
}



@media (min-width: 0px) and (max-width: 413px) {

    .footer {
        display: none;
    }

}