* { 
  box-sizing: border-box;

}

body {
  margin: auto;
  width: 1235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto'
}

@media (min-width: 0px) and (max-width: 413px) {

    body {
        width: 338px;
    }
}
