@use "../Variables/tasks.scss";





.form__dropdown {
    position: relative;
    width: 100%;
    display: none;
}

.form__dropdown_active {
    display: flex;
}

.menu__dropdown {
    top: 25px;
    width: 258px;
    max-height: 100px;
    position: absolute;
    list-style: none;
    padding: 0;
    border: none;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    overflow-x: auto;
    scrollbar-width: none;
    z-index: 2;
    
}

.menu__dropdown_active {
    display: flex;
}

.input {
    display: none;
    position: relative;
}

.input__form {
    width: 258px;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: tasks.$task-item-background-color;
}



.task__item_dropdown {
    padding: 0;
    max-width: 100%;
    padding: 7px 9px 6px 8px;
    background-color: tasks.$task-item-background-color;
    
}

.task__item_text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 241px;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task__item_dropdown:hover{
    background-color: tasks.$task-item-hover-background-color;
    cursor: pointer;
}



.textAtraForm {
    //display: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Roboto';
    font-size: 18px;
    resize: none;
    box-sizing: border-box;

}