@use "../var.scss";


.input {
    display: none;
    width: 258px;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: var.$task-item-background-color;
}


.button__dropdown {
    width: 258px;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: var.$task-item-background-color;
    position: relative;
    cursor: pointer;
} 

.button__dropdown::before {
    content: ">";
    position: absolute;
    top: 0px;
    right: 20px;
    transform: rotate(-90deg);
    font-size: 30px;
}

.button__dropdown_active {
    background-color: aqua;
}
.button__dropdown_active::before {
    transform: rotate(90deg);
}


.form__dropdown {
    position: relative;
    width: 100%;
    display: none;
}

.form__dropdown_active {
    display: flex;
}

.menu__dropdown {
    top: 25px;
    width: 258px;
    max-height: 150px;
    position: absolute;
    list-style: none;
    padding: 0;
    border: none;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    overflow-x: auto;
    
}

.menu__dropdown_active {
    display: flex;
}