@use "../var.scss";

.task {
    box-sizing: border-box;
    width: 282px;
    background-color: var.$task-list-background-color;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 12px;
    gap: 15px;
   }

.task__titel {
    font-family: 'Roboto';
    font-size: 18px;
}

.task__titel::first-letter {
    text-transform: uppercase;
}

.task__list {
    width: 100%;
    max-height: 538px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
    overflow-y: auto;

}

.task__item {
    width: 100%;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: var.$task-item-background-color;
    cursor: pointer;
}


.button {
    width: 102px;
    height: 29px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.task__link {
    width: 100%;
    height: 100%;
}

.button::before {
    content: "+";
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 6px;
}

.button_active {
    background-color: #FFFFFF;
}




.task__dropdown {
    width: 258px;
    height: 35px;
    padding: 7px 9px 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: var.$task-item-background-color;
    cursor: pointer;
}


.task__item_dropdown {
    padding: 0;
    max-width: 100%;
    height: 42px;
    padding: 7px 9px 6px 8px;
    background-color: var.$task-item-background-color;
    
}

.task__item_dropdown:hover{
    background-color: var.$task-item-hover-background-color;
    cursor: pointer;
}


